@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C5D9F2;
    font-family: 'Inter', sans-serif;
}

#root {
    height: 100vh;
    justify-content: center;
    align-content: center;
}

::placeholder {
    font-size: 12px;
    justify-content: center;
}

.cardMovidoEsquerda {
    transform: translateX(-280px);
    transition: transform 0.5s ease-in-out;
    color: black;
}

.cardMovidoDireita {
    transform: translateX(20px);
    transition: transform 0.5s ease-in-out
}

input {
    border: none;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    justify-content: center;    
    align-items: center;
}